@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&family=Roboto&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 480px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 600;
  color: #4a4a4a;
  background-color: #f3f7fa;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
